# Load Transactions

In [1]:
from pathlib import Path
from datetime import datetime

import pandas as pd

path = Path('/Users/ab011sw/Documents/Personal/investments/coinmate.tsv')
transactions = pd.read_csv(path, sep='\t')
transactions['Date'] = transactions['Date']\
    .apply(lambda x: datetime.strptime(x, '%d/%m/%Y'))

In [2]:
transactions.head()

        Date Code Currency         Price  Quantity Action        Fee
0 2021-04-16  BTC      CZK  1,343,533.00  0.000104    buy   0.488247
1 2020-08-17  BTC      CZK    270,156.00  0.044789   sell  14.519982
2 2019-08-12  BTC      CZK    262,801.23  0.044789    buy  29.426432
3 2019-08-07  BTC      CZK    275,123.00  0.042808   sell  14.132929
4 2019-08-07  BTC      CZK    267,971.99  0.042808    buy  28.678302

# Load USD prices

In [62]:
import yfinance as yf


currencies = set(transactions['Currency'])

prices_dict = {}
for currency in currencies:
    prices_dict[currency] = yf.download(currency,'2017-01-01','2021-12-15')

[*********************100%***********************]  1 of 1 completed

In [7]:
from datetime import timedelta
import yfinance as yf

for _, row in transactions.iterrows():
    _date = row['Date']
    ten_days = timedelta(days=10)
    _date_min = (_date - ten_days).strftime('%Y-%m-%d')
    _date_max = (_date + ten_days).strftime('%Y-%m-%d')
    prices = yf.download(row['Currency'], start=_date_min, end=_date_max)\
        .reset_index()
    break

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CZK: No data found for this date range, symbol may be delisted

In [68]:
prices.iloc[(prices['Date'] - row['Date']).abs().argsort()[0]]

Date         2018-01-30 00:00:00
Open                        0.34
High                        0.34
Low                         0.34
Close                       0.34
Adj Close                   0.34
Volume                         0
Name: 270, dtype: object

In [9]:
_date_min, _date_max

('2021-04-06', '2021-04-26')

In [16]:

yf.download('CZK=X', start=_date_min, end=_date_max)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2021-04-05  22.171301  22.205000  21.989201  22.143999  22.143999       0
2021-04-06  21.940001  22.087700  21.924900  21.981001  21.981001       0
2021-04-07  21.908899  21.934999  21.666100  21.914000  21.914000       0
2021-04-08  21.765100  21.805700  21.650801  21.764099  21.764099       0
2021-04-09  21.661600  21.906200  21.642700  21.659800  21.659800       0
2021-04-12  21.860001  21.973000  21.807199  21.845600  21.845600       0
2021-04-13  21.826000  21.909000  21.642401  21.823999  21.823999       0
2021-04-14  21.647600  21.700001  21.617001  21.662001  21.662001       0
2021-04-15  21.625500  21.702999  21.570999  21.623699  21.623699       0
2021-04-16  21.635000  21.693001  21.563101  21.646000  21.646000       0
2021-04-19  21.659000  21.695000  21.482500  21.658400  21.658400       0
2021-04-20  21.511101  21.548000  21.421801  21.509001  21.509001       0
2021-04-21  21.530199  21.589001  21.455000  21.529800  21.529800       0
2021-04-22  21.456800  21.542000  21.400200  21.468000  21.468000       0
2021-04-23  21.500601  21.509001  21.365499  21.507299  21.507299       0